@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CARROSSEL FULL-WIDTH -->
<!-- CARROSSEL FULL -->
<div id="homeCarousel" class="carousel slide home-carousel" data-bs-ride="carousel">

    <h2 class="carousel-title">A Melhor Opção Para o SEU Jogo</h2>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/carrossel-teste.jpg" class="carousel-img" />
        </div>
        <div class="carousel-item">
            <img src="~/img/carrossel-teste.jpg" class="carousel-img" />
        </div>
        <div class="carousel-item">
            <img src="~/img/carrossel-teste.jpg" class="carousel-img" />
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<div class="container mt-5">

    <!-- CARDS DESCONTO -->
    <div class="row mt-4 g-4">
        <div class="col-md-4">
            <div class="discount-card p-3 position-relative">
                <span class="discount-badge">80% OFF</span>
                <div class="discount-img-wrapper">
                    <img src="~/img/sprites-teste.jpg" />
                </div>
                <h5 class="text-white mt-3 fw-bold">Pacote de Cenários 2D
   Floresta Encantada </h5>
                <button class="discount-btn mt-2 w-100">VER MAIS</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="discount-card p-3 position-relative">
                <span class="discount-badge">80% OFF</span>
                <div class="discount-img-wrapper">
                    <img src="~/img/sprites-teste.jpg" />
                </div>
                <h5 class="text-white mt-3 fw-bold">Pacote de  sprites 2D 
          Personagens Diversificados</h5>
                <button class="discount-btn mt-2 w-100">VER MAIS</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="discount-card p-3 position-relative">
                <span class="discount-badge">80% OFF</span>
                <div class="discount-img-wrapper">
                    <img src="~/img/sprites-teste.jpg" />
                </div>
                <h5 class="text-white mt-3 fw-bold">Pacote com sprites de 
        personagens 2D Diversificados</h5>
                <button class="discount-btn mt-2 w-100">VER MAIS</button>
            </div>
        </div>
    </div>

    <!-- SPRITES EM ALTA -->
    <div class="pixel-title mt-5">SPRITES EM ALTA</div>

    <!-- CARDS HOT -->
    <div class="row g-4 mt-3">
        <div class="col-md-4">
            <div class="hot-card">
                <div class="position-relative">
                    <img src="~/img/sprites-teste.jpg" class="hot-img" />
                    <span class="hot-price-tag">R$ 240,00</span>
                </div>
                <p class="hot-card-title">Diversidade de pássaros 2D 
1.300 sprites para o  seu jogo </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hot-card">
                <div class="position-relative">
                    <img src="~/img/sprites-teste.jpg" class="hot-img" />
                    <span class="hot-price-tag">R$ 120,99</span>
                </div>
                <p class="hot-card-title">Doces e guloseimas 2D + de 130 
sprites deliciosos!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hot-card">
                <div class="position-relative">
                    <img src="~/img/sprites-teste.jpg" class="hot-img" />
                    <span class="hot-price-tag">R$ 98,90</span>
                </div>
                <p class="hot-card-title">Espadas personalizadas para
jogos 2D </p>
            </div>
        </div>
    </div>

</div>
