@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<div class="register-container">
    <div class="register-card">
        
        <!-- Título -->
        <h2 class="register-title">Entra na conta</h2>

        <!-- Formulário -->
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>

            <div class="mb-3">
                <input asp-for="Email" placeholder="E-mail" class="register-input" />
                <span asp-validation-for="Email" class="text-danger mt-2"></span>
            </div>

            <div class="mb-4">
                <input asp-for="Senha" type="password" placeholder="Senha" class="register-input" />
                <span asp-validation-for="Senha" class="text-danger mt-2"></span>
            </div>

            <button type="submit" class="register-button">
                Entrar
            </button>

            <p class="register-login-text">
                Não possui conta ainda?
                <a asp-action="Registro" asp-controller="Auth" class="register-login-link">
                    Crie sua conta!
                </a>
            </p>

            <p class="register-login-text mt-2">
                <a asp-action="RecuperarSenha" asp-controller="Auth" class="register-login-link">
                    Esqueceu a senha?
                </a>
            </p>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/site.css">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
