@model RecuperarSenhaVM
@{
    ViewData["Title"] = "Recuperar Senha";
}

<div class="register-container">
    <div class="register-card">

        <!-- Título -->
        <h2 class="register-title">Recupere sua senha</h2>

        <form asp-action="RecuperarSenha" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3 password-wrapper">
                <input asp-for="NovaSenha" type="password" placeholder="Insira sua nova senha" class="register-input"
                    id="novaSenha" />
                <i class="bi bi-eye password-toggle" data-target="novaSenha"></i>
                <span asp-validation-for="NovaSenha" class="text-danger mt-2"></span>
            </div>

            <div class="mb-4 password-wrapper">
                <input asp-for="ConfirmarSenha" type="password" placeholder="Confirme sua nova senha"
                    class="register-input" id="confirmarSenha" />
                <i class="bi bi-eye password-toggle" data-target="confirmarSenha"></i>
                <span asp-validation-for="ConfirmarSenha" class="text-danger mt-2"></span>
            </div>

            <button type="submit" class="register-button">
                Confirmar
            </button>

            <p class="register-login-text mt-2">
                <a asp-action="Login" asp-controller="Auth" class="register-login-link">
                    Voltar ao login
                </a>
            </p>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/site.css">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />

    <script>
        document.querySelectorAll(".password-toggle").forEach(icon => {
            icon.addEventListener("click", () => {
                const inputId = icon.getAttribute("data-target");
                const input = document.getElementById(inputId);

                if (input.type === "password") {
                    input.type = "text";
                    icon.classList.remove("bi-eye");
                    icon.classList.add("bi-eye-slash");
                } else {
                    input.type = "password";
                    icon.classList.remove("bi-eye-slash");
                    icon.classList.add("bi-eye");
                }
            });
        });
    </script>
}